.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loading{
  margin-top: 20vh;
  margin-left: 50%;
}

.light{
  margin-top: 10px;
  margin-right: 5px;
}

.dark{
  margin-top: 10px;
  margin-left: 5px;
}

.home{
  background-color: white;
}

.home-dark{
  background-color: rgba(12, 16, 39, 0.849);
  color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(228, 225, 225, 0.74);
    padding-top:20px;
    box-shadow: 0 0 5pt .2pt black;
    height: 100%;  
}

.header-dark{
  display: flex;
  justify-content: space-around;
  padding-top:20px;
  height: 100%;  
  background-color: rgb(32, 31, 31);
  color: white;
}

.inputField{
    margin-right: 30px;
    font-size: 14px;
    width: 260px;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 0 5pt .2pt black;
    color: rgb(53, 53, 53);
}

.inputField-dark{
  margin-right: 30px;
    font-size: 14px;
    width: 260px;
    height: 42px;
    border: none;
    border-radius: 4px;
    color: rgb(53, 53, 53);
}


.actions{
  display: flex;
  justify-content:space-between
}

.coinsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px;
}

.cointsContainer-dark{
  background-color: rgb(32, 31, 31);
    color: white;
}

.svg{
  background-color: transparent;
}

.priceChange{
  background-color: transparent;
  padding-left: 10px;
  text-shadow:  0 0 8px rgb(0, 0, 0);
}

.coinPrice{
  width: auto;
  background-color: transparent;
}

.coinMarketcap{
  width: auto;
  padding-top: 8px;
  background-color: transparent;
}

.coinVolume{
  width: auto;
  padding-top: 6px;
  padding-bottom:8px;
  background-color: transparent;
}

@media (max-width:575px){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        padding-bottom:20px ;
    }
    .inputField{
      width: 200px;
      height: 30px;
    }

    .inputField-dark{
      width: 200px;
      height: 30px;
    }

    .header-dark{
      flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
